body {
	font-family:Georgia;
	line-height:1.6em;
}

.content {
	width:750px;
	margin:0px auto;
}

pre {
	border:1px solid gray;
	background-color:#FAFAFA;
	padding:10px;
	line-height:1.2em;
}

h2 {
	margin-top:2em;
}